* {
    box-sizing: border-box;
    margin: 0px; 
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h3 {
    width: 250px;
    height: 30px;
    color: #0068FF;
    font-size: 26px;
    font-weight: 700;
}


.wrapper{
    width: 360px;
    height: 640px;
    border-radius: 20px;
    border: solid 1px;
    border-color: #0068FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.wrapper__item{
    width: 250px;
    height: 40px;
    border-radius: 7px;
    border: solid 1px;
    border-color: #0068FF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.pnumber{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.pn{
    width: 100px;
    height: 20px;
    display: flex;
    flex-direction: row;
}

.token__wrapper{
    width: 300px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.region{
    width: 250px;
    height: 60px;
}

.gap{
    width:200px;
    height:40px;
}